
/*font link*/
@font-face {
    font-family: gooper;
    src: url("../fonts/gooper/Gooper0.1-Regular.otf") format("opentype");
}


/* css of footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  h1 {
      font-family: gooper;
  }

  .page-footer{
      width: 100%;
  }